<div class='container'>
	<div class='mb-4'>
		<h3>Contacts</h3>
		<%= link_to "See My Contacts (#{@profile.contacts.count})", contacts_path, class: 'btn btn-primary' %>
	</div>
	<h3>Invitations</h3>
	<ul class='list-group'>
		<% if @profile.requestor_relationships.length != 0 %>
			<% @profile.requestor_relationships[0...3].each do |req| %>
				<%= render '/shared/request_list_item', req: req  %>
			<% end %>
			<% if @profile.requestor_relationships.length > 3%>
				<%= link_to "Manage All (#{@profile.requestor_relationships.length})", connection_requests_path, class: 'btn btn-primary d-flex flex-shrink mt-3 ml-auto mr-auto' %>
			<% end %>
		<% else %>
			<li class='list-group-item'>
				<p>You have no pending invitations.</p>
				<%= link_to "Manage", connection_requests_path, class: 'btn btn-primary ' %>
			</li>
		<% end %>
	</ul>
</div>
