<feed
	:requests='<%= @profile.requestor_relationships.to_json(include: {profile: {include: :image}})%>'
	:contacts='<%= @profile.contacts.to_json(only: :id) %>'
	inline-template
	@new-notice='addNotice'>
	<div id='feed' class='container'>
		<div class='mb-4'>
			<h3>Contacts</h3>
			<a href='/contacts' class='btn btn-primary'>See My Contacts ({{ contactsNum }})</a>
		</div>
		<h3>Invitations</h3>
		<ul class='list-group'>
			<template v-if='connectionRequests.length !== 0'>
				<div>
					<request-list-item v-for='request in visibleRequests' :req='request' @accept-request='acceptRequest' @decline-request='declineRequest'>
					</request-list-item>
					<template v-if='requestsNum > 3'>
						<div class='mt-2 d-flex justify-content-center'>
							<a class='btn btn-primary' href='/request-manager'> Manage All ({{ requestsNum}})</a>
						</div>
					</template>
				</div>
			</template>
			<div v-else>
				<li class='list-group-item'>
					<p>You have no pending invitations.</p>
					<a href='/request-manager'>Manage</a>
				</li>
			</div>
		</ul>
	</div>
</feed>
