<section class="hero is-primary is-bold is-fullheight-with-navbar has-text-centered">
	<div class='hero-head'>
	</div>
  <div class="hero-body">
  	<div class='container'>
	    <h1 class="title">
	      AWS Community
	    </h1>
	    <h2 class="subtitle">
	      Closing The Cloud Gap
	    </h2>
	    <%= link_to('Join Us', new_user_registration_path, class: 'button is-info') %>
 		</div>
  	
	</div>
	<div class='hero-foot'>
  </div>
</section>