<div class='landing-wrapper'>
	<div class="jumbotron bg-white">
		<div class='container'>
		  <h1 class="display-4">AWS Community</h1>
		  <p class="lead">Welcome to the platform for AWS Certificate Alumni. Lets close the cloud gap together.</p>
		  <%= link_to('Join Us', new_user_registration_path, class: 'btn btn-primary btn-lg') %>
		</div>
	</div>
</div>