.container
  #modal-window.modal.hide.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" 
    .modal-dialog role="document" 
      .modal-content
  .row
    .col-xs-12.col-sm-6
      - if @profile.image.attached?
        = image_tag @profile.image.variant(resize: "100x100")
      - else
        = image_tag 'placeholder_avatar.png', size: '100x100'
      h1= @profile.name
      p= @profile.title
      p= @profile.country
    .col-xs-12.col-sm-6
      - if current_user.profile == @profile
        .d-flex.justify-content-start.justify-content-sm-end
          = link_to('Edit', edit_profile_path(current_user.profile), class: 'btn btn-primary')
          = link_to("See Contacts (#{@profile.contacts.length})", contacts_path, class: 'btn btn-primary ml-1')
      - else
        .d-flex.flex-sm-column.align-items-sm-end.justify-content-sm-between.h-100.justify-content-between
          p.text-primary.rounded.border.border-primary.p-2.ml-1.mb-0
            | Connections (#{@profile.contacts.length})
          div
            - if current_user.profile.contacts.include?(@profile)
              = link_to 'Email', '#/', class: 'btn btn-primary'
              = link_to('Remove', contact_path(@profile.id), method: :delete, class: 'btn btn-primary')
            - elsif current_user.profile.receivers.include?(@profile)
              = link_to 'Withdraw', { controller: "connection_requests", action: "withdraw" }, id: @connection_request, method: :delete, class: 'btn btn-primary'
            - elsif current_user.profile.requestors.include?(@profile)
              = link_to 'Ignore',  connection_request_path(@connection_request), method: :delete, class: 'btn btn-primary'
              = link_to 'Accept', connection_request_path(@connection_request), method: :put, class: 'btn btn-primary'               
            - else
              = link_to 'Connect', new_connection_request_path(contact_id: @profile.id), remote: true, data: { target: '#modal-window', toggle: 'modal'}, class: 'btn btn-primary'
  hr.bg-secondary/
  .row.justify-content-center.justify-content-md-start
    .col-11
      p= @profile.description
