.modal-header
  h4#myModalLabel.modal-title Send Request
  button.close[type="button" data-dismiss="modal"] x
.modal-body
  = form_with model: @connection_request, local: true do |form|
    = label_tag(:request_message, "Add Optional Message")
    = form.text_area :request_message, size: '10x7', class: 'd-flex w-100'
    = form.hidden_field :profile_id, value: current_user.id
    = form.hidden_field :contact_id, value: @contact_id
    .modal-footer.align-items-center.p-0.pt-3.d-flex.justify-content-center
      = form.submit "Send", class: 'btn btn-primary'