<div class='container'>
	<ul class='nav nav-tabs'>
		<li class='nav-item'>
			<a class='nav-link active' id='received-tab' data-toggle='tab' href='#received' role='tab' aria-controls='received' aria-selected='true'>Received</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link' id='sent-tab' data-toggle='tab' href='#sent' role='tab' aria-controls='sent' aria-selected='false'>Sent</a>
		</li>
	</ul>
	<div class='tab-content' id='myTabContent'>
		<div class='tab-pane fade show active' id='received' role="tabpanel" aria-labelledby="received-tab">
			<ul class='list-group'>
				<% @profile.requestor_relationships.each do |req| %>
					<%= render '/shared/request_list_item', req: req  %>
				<% end %>
			</ul>
		</div>
		<div class='tab-pane fade' id='sent' role="tabpanel" aria-labelledby="sent-tab">
			<ul class='list-group'>
				<% @profile.receiver_relationships.each do |req| %>
					<%= render layout: '/shared/profile_list_item', locals: { profile: req.contact } do %>
						<%= link_to 'Withdraw', "connection_requests/withdraw/#{req.id}", method: :delete, class: 'btn btn-primary' %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

