<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class='notification is-warning'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
