<div class='container'>
	<h3>Contacts</h3>
	<ul class='list-group'>
		<% @contacts.each do |c| %>
			<li class='list-group-item'>
				<div class='col-12 col-sm-10 d-flex'>
					<%= image_tag c.image.variant(resize: "100x100") %>
					<div class='d-flex align-items-center'>
						<%= c.name %>
						<%= c.title %>
					</div>
				</div>
				<div class='col-12 text-center mt-2'>
					<button class='btn btn-primary'>Remove</button>
					<button class='btn btn-primary'>Message</button>
				</div>	
			</li>	
		<% end %>
	</ul>
</div>