.subtitle-small {
	font-size: 0.85rem;
}
.content {
	margin-bottom: 70px;
	margin-top: 50px;
}
#profile {
	margin-top: 56px;
}
.alert.alert-box {
  position: absolute;
  left: 0;
  right: 0;	
  top: 95px;
}
.avatar {
	height: 100px;
	width: 100px;	
}
@media only screen and (min-width: 540px) {
	.alert.alert-box {
	  top: 56px;
	}
}