.subtitle-small {
	font-size: 0.85rem;
}
.content {
	margin-bottom: 70px;
	margin-top: 50px;
}
#profile {
	margin-top: 56px;
}
.alert.alert-box {
	margin-bottom: 2px;
}
.alert-container {
	top: 0;
  left: 0;
  right: 0;
}
.avatar {
	height: 100px;
	width: 100px;	
}