// Global Styles
html, body, #app {
    height: 100%;
}

hr {
	background-color: lightgrey;
}

// Component Wrapper Styles
.landing-wrapper .jumbotron {
  text-align: center;	
}

.content {
	margin: 50px auto 90px auto;
}

// Devise Styles
.form-extra-links {
	margin-top: 10px;
}

// Feed Styles
.message-bubble {
}