// Bulma Variables //
$primary: hsl(180, 28%, 46%);
$dark: hsl(196, 31%, 22%);
$footer-background-color: $primary;
$footer-padding: 2rem 1.5rem 2rem;
/*
	darkBlue: hsl(196, 31%, 22%),
	lightBlue: hsl(193, 34%, 76%),
	white: hsl(180, 25%, 98%),
	lightBrown: hsl(21, 45%, 63%)
*/