doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Prosky Communities
    = csrf_meta_tags
    = csp_meta_tag
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
  body
    #app
      = render 'layouts/header'
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      .content.mt-5
        = yield
      = render 'layouts/footer'
